<%- include("header"); -%>

<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
   <a class="navbar-brand" href="#">Path Finder</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <!--Left DropDowns-->
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               Algorithm
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="#">Dijkstra's Algorithm</a>
               <a class="dropdown-item" href="#">A* Search</a>
               <a class="dropdown-item" href="#">Greedy Best-first Search</a>
               <a class="dropdown-item" href="#">Swarm Algorithm</a>
               <a class="dropdown-item" href="#">Convergent Swarm Algorithm</a>
               <a class="dropdown-item" href="#">Bidirectional Swarm Algorithm</a>
               <a class="dropdown-item" href="#">Jump Point Search (JPS)</a>
               <a class="dropdown-item" href="#">Breath-first Search (BFS)</a>
               <a class="dropdown-item" href="#">Depth-first Search (DFS)</a>
               
            </div>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               Mazes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="#">Basic Random Maze</a>
               <a class="dropdown-item" href="#">Recursive Division</a>
               <a class="dropdown-item" href="#">Recursive Division (Vertical Skew)</a>
               <a class="dropdown-item" href="#">Recursive Division (Horizontal Skew)</a>
               <a class="dropdown-item" href="#">Simple Spiral</a>
               <a class="dropdown-item" href="#">Simple Stair Pattern</a>
               
            </div>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
               Speed
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="#">Slow</a>
               <a class="dropdown-item" href="#">Default</a>
               <a class="dropdown-item" href="#">Fast</a>
            </div>
         </li>
      </ul>
   </div>
   <!-- Right Buttons-->
   <button type="button" class="btn btn-outline-success">Start</button>
   <button type="button" class="btn btn-outline-danger">Clear Board</button>
</nav>


<%- include("footer"); -%>