<%- include("header"); -%>

<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1a1c20;">
   <a class="navbar-brand" href="#" style="color: #f6f6f6;">Path Finder</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <!--Left DropDowns-->
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item dropdown" id="algorithms">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" style="color: #eeeeee;">
               Algorithm
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="#">Dijkstra's Algorithm</a>
               <a class="dropdown-item" href="#">A* Search</a>
               <a class="dropdown-item" href="#">Greedy Best-first Search</a>
               <a class="dropdown-item" href="#">Swarm Algorithm</a>
               <a class="dropdown-item" href="#">Convergent Swarm Algorithm</a>
               <a class="dropdown-item" href="#">Bidirectional Swarm Algorithm</a>
               <a class="dropdown-item" href="#">Jump Point Search (JPS)</a>
               <a class="dropdown-item" href="#">Breath-first Search (BFS)</a>
               <a class="dropdown-item" href="#">Depth-first Search (DFS)</a>

            </div>
         </li>
         <li class="nav-item dropdown" id="mazes">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" style="color: #eeeeee;">
               Mazes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="#">Basic Random Maze</a>
               <a class="dropdown-item" href="#">Recursive Division</a>
               <a class="dropdown-item" href="#">Recursive Division (Vertical Skew)</a>
               <a class="dropdown-item" href="#">Recursive Division (Horizontal Skew)</a>
               <a class="dropdown-item" href="#">Simple Spiral</a>
               <a class="dropdown-item" href="#">Simple Stair Pattern</a>

            </div>
         </li>
         <li class="nav-item dropdown" id="speed">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" style="color: #eeeeee;">
               Speed
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="#">Slow</a>
               <a class="dropdown-item" href="#">Default</a>
               <a class="dropdown-item" href="#">Fast</a>
            </div>
         </li>
      </ul>
   </div>

   <!-- Right Buttons-->
   <button type="button" class="btn btn-outline-success" id="startBtn">Start</button>
   <button type="button" class="btn btn-outline-danger">Stop</button>
   <button type="button" class="btn btn-outline-light" id="clearBtn">Clear Board</button>

</nav>

<!-- Legends -->
<div class="d-flex flex-row flex-wrap legends">
   <div class="d-flex p-2 legend-items">
      <div class="key wall"></div>
      <div class="legends-text"> Wall</div>
   </div>
   <div class="d-flex p-2 legend-items">
      <div class="key start"></div>
      <div class="legends-text">Start</div>
   </div>
   <div class="d-flex p-2 legend-items">
      <div class="key end"></div>
      <div class="legends-text">Target</div>
   </div>
   <div class="d-flex p-2 legend-items">
      <div class="key searching"></div>
      <div class="key visited"></div>
      <div class="legends-text">Visited</div>
   </div>
   <div class="d-flex p-2 legend-items">
      <div class="key success"></div>
      <div class="legends-text">Shortest-Path</div>
   </div>
   <div class="d-flex p-2 legend-items">
      <div class="key"></div>
      <div class="legends-text">Unvisited</div>
   </div>
</div>

<!-- Grid -->

<div id="tableContainer"></div>




<div class="d-flex flex-column" id="results">
   <div class="d-flex justify-content-center">
      <i id="resultsIcon" class="fas fa-exclamation"></i>
   </div>
   <div id="duration" class="d-flex justify-content-center">
      Please select an algorithm and press start.
   </div>
   <div id="length" class="d-flex justify-content-center">
   </div>
</div>

<%- include("footer"); -%>